.form {
  $color: $--real-white;

  color: $color;

  &__input {
    $border-color: $--main-yellow;

    @include placeholder {
      color: rgba($color, 0.5);
    }

    border: none;
    background-color: transparent;
    border-bottom: rem(1) solid $border-color;
    width: 100%;
    padding-top: rem(15);
    padding-bottom: rem(15);
    margin-bottom: rem(15);
    color: inherit;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
    }

    &.error {
      $border-color: $--error-red;
      
      border-color: $border-color;
    }
  }

  

  &__select {
    position: relative;

    &::before {
      $border-color: $--real-white;
      content: "";
      display: block;
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      right: 0;
      border: rem(4) solid transparent; 
      border-top: rem(4) solid $border-color; 
    }

    select {
      padding-right: rem(25);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &--col {
      @include min-tablet {
        width: 48%;
      }
    }
  }

  &__btn {
    width: rem(270);
    margin-top: rem(25);

    @include min-tablet {
      width: auto;
    }
  }

  &__selects-wrapper {
    @include min-tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}