.tabs {
  @include reset-list;

  display: flex;
  flex-wrap: nowrap;
  padding-right: rem(30);

  &__item {
    $border-color: $--light-gray;
    $bg-color: $--gray;

    @include resetting-btn;

    border-radius: 30px;
    padding: rem(8) rem(25);
    margin-right: rem(10);
    white-space: nowrap;
    background-color: $bg-color;
    border: 1px solid transparent;
    transition: border 0.3s;

    @include min-tablet {
      font-size: rem(18);
      margin-right: rem(20);
      padding: rem(15) rem(35);
    }

    @include min-desktop {
      font-size: rem(20);
    }

    &:hover {
      $border-color: $--main-yellow;
      border-color: $border-color;
    }

    &.active {
      border: 1px solid $border-color;
      background-color: transparent;
    }

  }
}