@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin resetting-link {
  text-decoration: none;
}

@mixin resetting-btn {
  padding: 0;
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: auto;
  }  
}

@mixin metro-color($color) {
  background-color: $color;
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
      @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
      @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
      @content;
  }

  &:-ms-input-placeholder {
      @content;
  }
}