$--root-font-size: 16;

$--min-tablet-width: 768px;
$--min-desktop-width: 1100px;

//color
$--main-violet: #5f62ac;
$--dark-violet: #4a439d;
$--real-white: #ffffff;
$--real-black: #000000;
$--light-gray: #c4c4c4;
$--gray: #e5e5e5;
$--main-yellow: #f0c630;
$--error-red: #ee4713;

//metro-line-colors:
$--phili-line-color: #71cfec;
$--righzskaya-line-color: #fca82a;

//font-weights
$--normal: 400;
$--bold: 700;
$--light: 300;